:root{
    --shadowColor: rgba(34, 36, 38, 0.15);
    --navgray: #e7e7e7;
    --navblack: rgba(0, 0, 0, 0.95);
    --navagray:rgb(50, 50, 50);
    --collegeTag:#e6feff;
    --coursebtn: #00BCEF;
    --bodyLink: #1e70bf;
    --blueLink: #0097c9;
    --smallTextGray: #718096;
    --footer-color-T-text:#4A5568;
    --footer-color-text: #718096;
    --font-size-nav-a: 13px;
    --font-size-xxs: 0.65rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-small: 10px;
    --font-size-ss: 12px;
    --font-size-s: 15px;
    --font-weight-hairline: 100;
    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

body{
    margin: 0;
    padding: 0;
    font-family: Vazirmatn, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
            "nav nav nav"
            "banner banner sidebar"
            "college competition sidebar"
            "lms exQuestionBank sidebar"
            "footer footer footer";
    grid-gap: 0.2rem;
}

header{

    box-shadow: 0 1px 2px 0 var(--shadowColor);
    border-bottom: 1px solid var(--navgray);
    grid-area: nav;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}

nav{
    display: flex;
    gap: 0;

}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 1em;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: var(--navagray);
    font-size: var(--font-size-nav-a);
    font-weight: 550;
}

nav ul li a:hover{
    color: var(--navblack);
}

#fire img{
    display: inline;
    width: 14px;
    vertical-align: middle;
    margin-right: 4px;
}

.leftSide{
    display: flex;
    gap: 0.8em;
}

.profileImg{
    border-radius: 50%;
    margin: 0.4em
}

.banner{
    grid-area: banner;
}

.banner img{
    border-radius: 16px;
    max-width: 95%;
    max-height: 100%;
    margin: 1rem;
}

.college{
    grid-area: college;
    /*margin: 1rem;*/
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-md);
}

.flexContainer a{
    font-size: var(--font-size-xs);
    text-decoration: none;
    color: var(--bodyLink);
}

.cardTopic{
    display: flex;
    margin-bottom: 0;
    margin-right: 1rem;
}

.cardContainer{
    box-shadow: 0 1px 2px 0 var(--shadowColor);
    border: 1px solid var(--navgray);
    padding: 8px;
    border-radius: 16px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.collegeCardContainer{
    display: flex;
    gap: 0.1em;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0.5rem;
}

.collegeCard{
    box-shadow: 0 1px 2px 0 var(--shadowColor);
    border: 1px solid var(--navgray);
    border-radius: 16px;
    width: 120px;
    height: 70px;
    padding: 5px;
}

.collegeCard img{
    width: 50px;
    height: 40px;
}

.collegeCard p{
    font-size: var(--font-size-xs);
    margin-top: 0;
}

.des{
    display: flex;
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-sm);
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.desItem{
    display: flex;
    gap: 0.2em;
}

.collegeTag{
    display: flex;
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-normal);
    gap: 0.2em;
    margin-bottom: 2rem;
}

.collegeTag p{
    background-color: var(--collegeTag);
    border-radius: 7px;
    padding: 0.1rem;
    margin: 0.1rem;
}

.course{
    text-align: center;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.course a{
    text-decoration: none;
    background-color: var(--coursebtn);
    color: white;
    border-radius: 7px;
    padding: 0.4rem;
    margin-bottom: 2rem;

}

.course p{
    font-size: var(--font-size-xxs);
    margin-bottom: 0;
    margin-top: 2rem;
}

.competition{
    grid-area: competition;
    text-align: center;
}

.competitionContent{
    text-align: center;
    font-size: var(--font-size-xs);
}

.questionsBank{
    text-decoration: none;
    color: var(--blueLink);
    border-color: var(--blueLink);
    border-radius: 7px;
    border: 1px solid;
    padding: 0.5rem;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
}

.blueLink{
    text-decoration: none;
    color: var(--blueLink);
}

.setCenter{
    margin: 2rem;
}

.more{
    display: flex;
    justify-content: center;
    font-size: var(--font-size-sm);
}

.lms{
    grid-area: lms;
}

.lmsSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail{
    display: flex;
    gap: 0.3rem;
    font-size: var(--font-size-small);
    color: var(--smallTextGray);
}

.detailRightBorder{
    border-right: 1px solid var(--navgray);
    padding-right: 0.3rem;
}

.lmsSec a{
    font-size: var(--font-size-sm);
}

.lmsSecondSec{
    border-top: 1px solid var(--navgray);
    border-bottom: 1px solid var(--navgray);
}

.ex{
    color: var(--smallTextGray);
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-semibold);
    margin-top: 0;
}

.ex a{
    color: var(--bodyLink);
    text-decoration: none;
}

.lmsThirdSec{
    border-bottom: 1px solid var(--navgray);
}

.exQuestionBank{
    grid-area: exQuestionBank;
}

.exQuestionBankCardTopic{
    text-align: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
}

.exQuestionBankCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.exQuestionBankCard{
    text-align: center;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    background-color: #F7FAFC;
    border-radius: 7px;
    width: 80px;
    height: 53px;
}

.exQuestionBankCard p{
    margin: 0;
}

.exQuestionBankCard a{
    text-decoration: none;
    color: var(--blueLink);
    margin: 0;
}

.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7FAFC;
    font-size: var(--font-size-xxs);
}

.questionTow{
    background-color: white;
}

.questions a{
    text-decoration: none;
    color: var(--blueLink);
}

.sidebar{
    grid-area: sidebar;
    margin-right: 1rem;
}

.sidebarRow{
    margin-top: 1rem;
}

.sidebarCard{
    box-shadow: 0 1px 2px 0 var(--shadowColor);
    border: 1px solid var(--navgray);
    padding: 8px;
    border-radius: 16px;
}

#percent {
    display: flex;
    align-items: center;
}

#percent img{
    width: 50px;
    height: 50px;
}

#bluePercent{
    color: var(--blueLink);
    margin-top: 1rem;
    padding: 0.5rem 0.3rem 0 0;
}

.sidebarSecSm{
    font-size: var(--font-size-xxs);
    color: var(--smallTextGray);
    /*padding: 0;*/
    /*margin: 0;*/
}

.sidebarSecMed{
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
}

#resumeLink{
    margin-bottom: 1rem;
    text-align: center;
}

.sidebarSec{
    border-bottom: 1px solid var(--navgray);
}

footer{
    grid-area: footer;
    margin-top: 1rem;
    box-shadow: 0 1px 2px 0 var(--shadowColor);
    border-top: 1px solid var(--navgray);
}

.footerContainer {
    max-width: 1200px;
    margin: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerCol{
    width: 10%;
    padding: 0 2rem;
}

#queraFooterLogo{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.footerCol h4{
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-normal);
}

.footerCol ul{
    list-style-type: none;
    padding: 0;
}

.footerCol ul a{
    text-decoration: none;
    color: var(--footer-color-text);
    font-size: var(--font-size-ss);
}

.smallSec{
    width: 7%;
}

#footerLastSec {
    width: 20%;
    padding-top: 1rem;
}

#queraImg{
    width: 80px;
    height: 100px;
}

#footerLogo{
    display: flex;
    justify-content: center;
}

#enemad{
    width: 80px;
    height: 87px;
}

.parseServer{
    font-size: var(--font-size-xxs);
}

#parsServerLogo{
    width: 55px;
    height: 55px;
}

#parsFirstText{
    color: var(--footer-color-text);
    padding: 0;
    margin: 0;
}

#footerIcon{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 1rem;
}

#footerIcon svg{
    color: var(--blueLink);
}

#iconText{
    display: flex;
    color: var(--footer-color-text);
    font-size: var(--font-size-ss);
    justify-content: center;
}

@media screen and (min-width: 768px) {
    #hamnav label, #hamburger {
        display: none;
    }
    #resumeTopic{
        display: none;
    }

    .cardContainer{
        width: 410px;
        height: 270px;
    }
}

@media only screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.8fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 1fr;
        grid-template-areas:
            "nav"
            "banner"
            "college"
            "competition"
            "lms"
            "exQuestionBank"
            "sidebar"
            "footer";
    }
    header ul {
        display: none;
    }


}